.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px lightgrey;
  padding: 1rem 0;
  z-index: 999;
  background-color: white;
  width: 100%;
}
